<% include partials/header%>
<var id="usuario"> <% if(usuario.a != undefined ){ %>
                             <%= usuario.administrador.name %> 
                             <% } %> </var></h3>
<div class="modificar"></div>

<% include partials/footer %>