<% include partials/header %>
<var id="datos"> <%= datos %> </var>
   <h3>Bienvenido <var id="usuario"> <% if(usuario.a != undefined ){ %>
                             <%= usuario.a.name %> 
                             <% }else{ %>
                             <%= usuario.name %>
                             <% } %> </var></h3>
    <div class="tienda"> </div>
<% include partials/footer %>
